:root{
  --what-bg: #fff;
  --what-bg-form:#F6F5C5;
  --what-label-text: black;
  --what-col-label: black;
  --what-col-span: black;
  --what-bg-button: white;
  --what-col-button: black;
  
  --calc-bg: #fff;
  --calc-bg-form: #AFD0CE;
  --calc-label-text: black;
  --calc-col-label: black;
  --calc-col-span: black;
  --calc-bg-button: white;
  --calc-col-button: black;

  --add-bg:#fff;
  --add-bg-form:#F3D3CB;
  --add-label-text: black;
  --add-col-label:black;
  --add-col-span:black;
  --add-bg-button:white;
  --add-col-button:black;
  
  --minus-bg:#fff;
  --minus-bg-form:#cccccc88;
  --minus-label-text: black;
  --minus-col-label:black;
  --minus-col-span:black;
  --minus-bg-button:white;
  --minus-col-button:black;

  --change-bg:#fff;
  --change-bg-form:#D0C6E7;
  --change-label-text:black;
  --change-col-label:black;
  --change-col-span:black;
  --change-bg-button:white;
  --change-col-button:black;

  --vat-bg:#fff;
  --vat-bg-form:#F8CBD8;
  --vat-label-text:black;
  --vat-col-label:black;
  --vat-col-span:black;
  --vat-bg-button:white;
  --vat-col-button:black;

  --wage-bg:#fff;
  --wage-bg-form:#B7CCED;
  --student-loan-bg-button: green;
  --student-loan-bg-button-text: white;
  --wage-label-text:black;
  --wage-col-label:black;
  --wage-col-span:black;
  --wage-bg-button:white;
  --wage-col-button:black;
}

.fade-in{
  opacity: 0;
  animation: fade 1s ease-in forwards;
}

@keyframes fade {
	0% {
		opacity: 0%;
	}
	100% {
		opacity: 100%;
	}
}

h2{
  /* background: #1a1a1a; */
  color: black;
}

h2.what{
  background: var(--what-bg);
}
form.what{
  background: var(--what-bg-form);
}
label.what{
  color: var(--what-col-label);
}
span.what{
 color: var(--what-col-span);
}
button.what{
  color: var(--what-col-button);
  background: var(--what-bg-button);
}


h2.calc{
  background: var(--calc-bg);
}
form.calc{
  background: var(--calc-bg-form);
}
label.calc{
  color: var(--calc-col-label);
}
span.calc{
 color: var(--calc-col-span);
}
button.calc{
  background: var(--calc-bg-button);
  color: var(--calc-col-button);
}


h2.add{
  background: var(--add-bg);
}
form.add{
  background: var(--add-bg-form);
}
label.add{
  color: var(--add-col-label);
}
span.add{
 color: var(--add-col-span);
}
button.add{
  background: var(--add-bg-button);
  color: var(--add-col-button);
}


h2.minus{
  background: var(--minus-bg);
}
form.minus{
  background: var(--minus-bg-form);
}
label.minus{
  color: var(--minus-col-label);
}
span.minus{
 color: var(--minus-col-span);
}
button.minus{
  background: var(--minus-bg-button);
  color: var(--minus-col-button);
}


h2.change{
  background: var(--change-bg);
}
form.change{
  background: var(--change-bg-form);
}
label.change{
  color: var(--change-col-label);
}
span.change{
 color: var(--change-col-span);
}
button.change{
  background: var(--change-bg-button);
  color: var(--change-col-button);
}


h2.vat{
  background: var(--vat-bg);
}
form.vat{
  background: var(--vat-bg-form);
}
label.vat{
  color: var(--vat-col-label);
}
span.vat{
 color: var(--vat-col-span);
}
button.vat{
  background: var(--vat-bg-button);
  color: var(--vat-col-button);
}


h2.wage{
  background: var(--wage-bg);
}
form.wage{
  background: var(--wage-bg-form);
}
label.wage{
  color: var(--wage-col-label);
}
span.wage{
 color: var(--wage-col-span);
}
button.wage{
  background: var(--wage-bg-button);
  color: var(--wage-col-button);
}
button.wage.studentLoadChecked{
  background: var(--student-loan-bg-button);
  color: var(--student-loan-bg-button-text);
}

/*  */
/*  */
/*  */
/* SVG ICONS */
.socials img{
  width: 30px;
  height: auto;
  filter: invert(1);
}
.socials img:hover{
  filter: invert(0);
}

#spotify{
  width: 45px;
  margin: -10px 5px 0;
  filter: invert(0);
}

#spotify:hover{
  filter: invert(1);
}