.fade-in{
  opacity: 0;
  animation: fade 1s ease-in forwards;
}

@keyframes fade {
	0% {
		opacity: 0%;
	}
	100% {
		opacity: 100%;
	}
}
h2{
  background: #1a1a1a;
  color: white;
  text-align: center;
}
/* SVG ICONS */
.socials img{
  width: 30px;
  height: auto;
  filter: invert(.7) grayscale(50%) brightness(50%);
}
.socials img:hover{
  width: 30px;
  height: auto;
  filter: invert(0) grayscale(100%) brightness(200%);
}

#spotify{
  width: 45px;
  margin: -10px 5px 0;
}